# Avoid editor settings
.vscode/
.idea/
.vs/

# Avoid deployment scripts
deployment/

# Avoid docker folder with samples of other docker files
docker/

# Avoid documentation
DOCS/

# Kubernetes
k8s/

# 
setup/

# Avoid target folder, except the jar file
target/
!target/*.jar

#
.env
.env_variables

# Avoid docker files
.dockerignore
docker-compose.yaml
Dockerfile

# Avoid git files
.git/
.gitignore

#
LICENSE
README.md
